input[type='checkbox']{
  appearance: none;
  border:1px solid black;
  width:20px;
  height:20px;
  border-radius:4px;
  background-color: white;
  vertical-align:middle;
  cursor:pointer;
}
input[type='checkbox']:checked{
  background-color: #f1be32;
  border-color: #e2a60d;
}
label{
  display:block;
  cursor:pointer;
}
input[type='checkbox']:checked::after{
  content:"✓";
  display:block;
  text-align:center;
  color:white;
}
