input:focus, textarea:focus{
  border:2px solid green;
  outline:none;
}
input:invalid, select:invalid, textarea:invalid{
  border:2px solid red;
}
input:valid, select:valid, textarea:valid{
  border:2px solid green;
}

button:hover{
  background-color:midnightblue;
  color:whitesmoke;
}
.radio-group input[type="radio"]:checked{
  border:2px solid green;
  background-color:green;
  box-shadow: 0 4px 4px gray;
}
input[type="radio"]:checked + label{
  color:blue;
}
input:first-of-type{
  border-radius:5px
}
.container{
  padding:20px;
  margin:40px 10px;
}
form{
    margin: 20px;
}